@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter Tight", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #2563EB;
  --color-accent: #F97316;
  --color-text-main: #111827;
  --color-text-muted: #6B7280;
  --color-bg-light: #F7F8FA;

  --color-dark-bg: #0F172A;
  --color-dark-card: #1E293B;
  --color-dark-text: #F8FAFC;
  --color-dark-muted: #94A3B8;
}

@layer base {
  body {
    @apply transition-colors duration-300;
    background-color: var(--color-bg-light);
    color: var(--color-text-main);
  }

  .dark body {
    background-color: var(--color-dark-bg);
    color: var(--color-dark-text);
  }
}
