@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
  background-image: url('https://images.unsplash.com/photo-1579546929518-9c396334803e?q=80&w=2000&auto=format&fit=crop') !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center !important;
}
